{
  "appid": "touristappid",
  "projectname": "linxian-fresh-miniapp",
  "setting": {
    "urlCheck": false,
    "es6": true,
    "postcss": true,
    "minified": false
  },
  "compileType": "miniprogram"
}
